[2021-03-08 05:43] kaushik-rishi opened #1 "Create a bash script for executing the cpp code and diff the outputs"
- Create a bash script that creates the executable
- Which when run from the problem folder validates the inputs with the outputs

[2021-03-08 05:44] kaushik-rishi opened #2 "Embed a Makefile into each problem folder"
- While creating the problem folder and the problem files
      - Create a Makefile in the directory
      - Which generates the executable
      - Which tests the input and output of code

[2021-03-08 05:46] kaushik-rishi opened #3 "Convert the bash script into a Makefile"

[2021-03-08 05:46] kaushik-rishi opened #4 "Add Language support for Java"

[2021-03-08 05:48] kaushik-rishi opened #5 "Add language support for Python"

[2021-03-08 05:49] kaushik-rishi opened #6 "Execute the bash script / make file using child processes"
- Use child processes
- Basically figure out a way to execute the shell commands without using `make`

[2021-03-08 13:20] Sukriti-sood commented on #1
@kaushik-rishi  I would like to work  on this issue .

[2021-03-08 13:29] Ruchip16 commented on #1
@kaushik-rishi  I am interested to work on this issue, may I?

[2021-03-08 14:47] knavdeep152002 commented on #1
@kaushik-rishi I am interested to create a bash script, Can you assign me this issue?

[2021-03-08 14:51] kaushik-rishi commented on #1
Yeah sure. I'll assign this issue to 3 of you. Create a directory in the `src` folder called `execution_scripts` and add the bash script.
If you have any doubts ask it in the comments section. Ready to help.

[2021-03-08 15:22] Shubham-Kumar-2000 commented on #2
Can I work on this under GSSOC 21 ?

[2021-03-08 15:45] kaushik-rishi commented on #2
Sure. I've assigned the task. Do look at the work done by the other people on the bash script branch so that you can pull up some ideas from there.

- create a make file and ensure it is working
- then make a PR adding the makefile to the `src/assets` folder
- then move to editing the server.js to embed a makefile into each of these problem folders.

Don't hesitate to ask for help.

[2021-03-08 15:56] Shubham-Kumar-2000 commented on #2
I cannot find any bash script branch

[2021-03-08 16:11] kaushik-rishi commented on #2
@Shubham-Kumar-2000 I mean't people are working on an issue. But never mind proceed with your work.

[2021-03-08 16:20] Shubham-Kumar-2000 opened #7 "Incorrect devScript and main in package.json"
This was the contents of package.json

[code]

But this should be

[code]

[2021-03-08 16:51] kaushik-rishi commented on #7
I have assigned the issue to you. The PR will be merged tomorrow.

[2021-03-08 16:59] nandini7637 commented on #4
Hello I would like to contribute to it being a part of GSSOC. Can you please elaborate the issue as to what it exactly demands

[2021-03-08 17:31] Ruchip16 commented on #1
@kaushik-rishi How to get started with the issue any guidelines for contributing are given by you previously coz I am unable to find them

[2021-03-08 18:25] Shubham-Kumar-2000 commented on #2
PR adding the makefile to the src/assets folder. Done.

[2021-03-08 19:00] micksharma commented on #6
Can I work on this issue ?

[2021-03-08 19:02] micksharma commented on #3
I want to work on this issue. Can you please explain it.

[2021-03-08 19:02] micksharma commented on #5
Hi, I want to work on this issue. Can you please explain it.

[2021-03-09 03:35] kaushik-rishi opened #9 "Add a sample makefile"

[2021-03-09 04:54] Shubham-Kumar-2000 commented on #9
I have already resolved this issue.

[2021-03-09 06:04] Shubham-Kumar-2000 commented on #5
Hi can I work on this?

[2021-03-09 07:14] kaushik-rishi commented on #4
@nandini7637 In the `makefile` and the `js` files if you look at the code you can find the cpp extension and the code is compiled using `g++` command but you need to either create functions for handling the extensions of the files based on user configuration i.e the `files` in the template directory.

Don't get overwhelmed now. When there are channels and groups created on the server everything wi

[2021-03-09 07:18] kaushik-rishi commented on #2
@Shubham-Kumar-2000 I meant to edit the title, Not create a new PR. Because as you're commits are in this PR.

[2021-03-09 07:20] kaushik-rishi commented on #5
@Shubham-Kumar-2000 @micksharma Any doubt's regarding the work you need to do ?

[2021-03-09 07:55] micksharma commented on #5
@kaushik-rishi yeah Can you elaborate little bit

[2021-03-09 08:15] Shubham-Kumar-2000 commented on #5
No I don't have any doubt on this.

As far as I understood we nee to make a Python template and embed them in each of the problem folder and accordingly update make file to support both cpp and python under different rules.

Can you assign this to me?

[2021-03-09 08:31] learneradarsh opened #12 "Update Readme"

[2021-03-09 08:34] learneradarsh commented on #12
Here is PR to merge and close this issue:
https://github.com/kaushik-rishi/rocketcp/pull/14

[2021-03-09 08:34] subhangi2731 commented on #6
I want to work on this please assign me

[2021-03-09 08:35] subhangi2731 commented on #5
I really want to work on this please assign me

[2021-03-09 08:35] subhangi2731 commented on #3
I want to work on this please assign me

[2021-03-09 08:42] learneradarsh commented on #12
This is updated and merged show closing this issue.

[2021-03-09 08:42] #12 closed

[2021-03-09 08:42] #7 closed

[2021-03-09 08:46] kaushik-rishi commented on #3
There is a make file in the `src/assets` folder so you could go and look into it and try to improve it. The bash scripts issue is not resolved yet. Once it its resolved I'll tag you @subhangi2731. It should be done by today.

[2021-03-09 08:49] kaushik-rishi commented on #3
You need to design a bash script that when run in the `problem directory` takes all the test cases and and checks the output and input files and validates the outputs.
After that we basically need to convert it into a `Makefile`. People are working on bash script and there is also a sample makefile in `src/assets` so please look into it.
Also see the sample video and run the project locally to gra

[2021-03-09 08:55] kaushik-rishi commented on #6
This issue requires resolution of previous issues. Will be reopened once  previous issues are resolved.

[2021-03-09 08:55] kaushik-rishi commented on #6
This issue requires resolution of previous issues. Will be reopened once  previous issues are resolved.

[2021-03-09 09:55] kaushik-rishi commented on #9
@Shubham-Kumar-2000 Done ! Closed the issue.

[2021-03-09 09:55] #9 closed

[2021-03-09 10:04] Shubham-Kumar-2000 opened #15 "Static Root Directory"
New Feature :

We can achieve this using any option below :

[2021-03-09 10:15] Shubham-Kumar-2000 commented on #4
Can you assign me this under GSSOC'21?

[2021-03-09 11:12] Yash1256 opened #16 "Enhancement of the previous Issue Mentioned"
@kaushik-rishi as in Issue #1 you have mentioned to make a bash script which when run from the problem(s) folder and will validates the Input and Output. As for an Idea It would be simple to follow the above but it wouldn't be better.

 My Idea is - If we make our own command and it automatically compiles and check for the Input and Output, through this the bash script will not be there in each an

[2021-03-09 11:28] Siddharth1006 commented on #5
I am GSSOC'21 participant. I am interested and want to work on this issue.

[2021-03-09 12:31] Yash1256 opened #17 "Done a TODO for creating Folder for different Platforms while Parsing"
@kaushik-rishi The motive of this PR is to light up on the format how you want to Parse a problem and make Folder(s).

What I have done is, if the Problem is from HackerRank, It will make a Directory name HackerRank and then make a Directory with the given Problem Name and then Parse the Input, Output and the Solution.cpp file in it.
But while working on it I encountered  this piece of code and I

[2021-03-09 13:19] Siddharth1006 opened #19 "Youtube link on GSSSOC'21 website for Rocket Competitive Programming is incorrect"
https://www.youtube.com/watch?v=3hCQKaUxKRQ
// correct link

This should be the link. But on the GSSOC'21 website the link given is this : https://www.youtube.com/watch?v=2TUyVUQhMb8
The above link redirects to RocketMeet.

@kaushik-rishi please resolve this.

[2021-03-09 13:23] kaushik-rishi commented on #19
Oh no! A bad mistake on their side. Will contact them asap and get it resolved.

[2021-03-09 13:23] Siddharth1006 commented on #19
Ok.

[2021-03-09 13:45] kaushik-rishi commented on #19
Thanks for pointing out

[2021-03-09 18:46] satcasm opened #20 "Gif link broken"
The ``demo.gif`` link seems to be broken.

Reference screenshot:
![image](https://user-images.githubusercontent.com/56315878/110521535-dca54300-8135-11eb-9962-d5203c5457b8.png)

Would like to fix it as a part of GSSOC' 21.

[2021-03-09 19:12] sagar-barapatre commented on #20
Yeah ! you can start working on it...

[2021-03-09 19:19] satcasm commented on #20
Closing as the issue is resolved.

[2021-03-09 19:19] #20 closed

[2021-03-10 06:58] kaushik-rishi commented on #15
Would'nt it be better if we had a dot file in the home directory storing all the configuration settings of the user.
Including the directory location ?
I was planning to add this feature.
We can work together

[2021-03-10 07:30] kaushik-rishi commented on #5
@Shubham-Kumar-2000 One issue at a time

[2021-03-10 07:31] kaushik-rishi commented on #5
Sorry but it's a first come first server basis. I'll assign if no other contrib. is interested

[2021-03-10 07:33] kaushik-rishi commented on #5
@micksharma If you understood the issue. You can work on it else I'll assign it to @subhangi2731 .
You can ask any doubts you have on the discord server.
Or I'll open a gitter channel for this repo

[2021-03-10 09:21] Shubham-Kumar-2000 commented on #15
Yes we can make .rocketcp.json file.

[2021-03-10 09:27] Shubham-Kumar-2000 commented on #15
Or we can even go for a .rocketcp.env and dotenv module will take care of the rest.

[2021-03-10 10:47] learneradarsh opened #22 "Add Prettier as pre-commit hook"
Use Husky for the same.

[2021-03-10 11:02] #22 closed

[2021-03-10 12:24] Shubham-Kumar-2000 commented on #5
@kaushik-rishi

I have already submitted PRs for previous issues

[2021-03-10 13:02] learneradarsh opened #25 "Create & Improve Tool Documentation"
Create documentation having the following points:
1. How this tool can help the user?
2. Who can use this tool?
3. How to do the setup of this tool?
4. How to raise issues if found any?

Here is a small kind of documentation. Please take the idea from this for main documentation creation.
https://github.com/kaushik-rishi/rocketcp/blob/master/HOWTOUSE.md

Please feel free to add your own ideas and

[2021-03-10 13:44] kaushik-rishi commented on #16
@srisatya1197 Did you understand the issue. Describe the work plan you are thinking of implement to solve this issue.

[2021-03-10 13:45] kaushik-rishi commented on #16
@Yash1256 This issue will come to focus once the makefile layer below this will be resolved.

[2021-03-10 17:51] khareyash05 opened #26 "Update contributing.md"
Hi! @kaushik-rishi I would like to update contributing.md by putting steps on how to clone a repo and install on local system ,how to make a branch and use git commands to push it to origin ,How to make a PR , how to update your forkedrepo as well as local repo as the changes are made to the upstream

I would like to work on this as a part  of GSSOC'21

[2021-03-10 18:06] learneradarsh commented on #26
Sure @khareyash05 I have assigned you this issue. Please start working on it.

[2021-03-10 18:07] learneradarsh commented on #26
@kaushik-rishi Please share if you have inputs for the same.

[2021-03-10 18:08] learneradarsh commented on #26
@khareyash05 Do you also want to work on how to use the documentation for a tool?
https://github.com/kaushik-rishi/rocketcp/issues/25

[2021-03-10 18:32] kaushik-rishi commented on #26
Yeah.
Please look at the video in the Readme for more details on working of the project also join the server and add the server link at top in the Readme so others can also contribute

https://discord.gg/axfEwf6K

[2021-03-10 18:33] kaushik-rishi commented on #26
@khareyash05 You can talk to me if you have doubts about the working. No need to rush do the job perfectly thats it.

[2021-03-11 01:27] khareyash05 commented on #26
Hello Sir! @kaushik-rishi I am working on contributing.md ......
1. Do I have to add the link in Contributing.md file?
2. Shall I create an issue on adding link to Readme file?

[2021-03-11 07:32] GuptaTanisha commented on #25
@learneradarsh Please assign this to me.

[2021-03-11 09:09] kaushik-rishi commented on #5
@Shubham-Kumar-2000 Assigned the issue.

[2021-03-11 10:34] khareyash05 commented on #26
I am on it @learneradarsh @kaushik-rishi

[2021-03-11 11:45] kaushik-rishi commented on #19
@Siddharth1006 Fixed

[2021-03-11 11:45] #19 closed

[2021-03-11 11:46] #1 closed

[2021-03-11 11:46] #2 closed

[2021-03-11 11:46] #3 closed

[2021-03-11 11:47] kaushik-rishi commented on #3
Issue was automatically solved by PR #13

[2021-03-11 11:56] kaushik-rishi opened #29 "Maintain a global configuration for template and other details"
[Issue#] Maintain a global configuration for template and other details

Because:
- It's not possible to hardcode the user preferences.

Description:
Have a global configuration file called `.rocketcp.conf` which has the data:
- The path where the `competitivecoding` folder is to be mounted
- The path of the template file that they have
- The preferred language

`Working on the branch` : `configfi

[2021-03-11 11:56] kaushik-rishi commented on #29
@Shubham-Kumar-2000 Would you like to work on this issue along with me.

[2021-03-11 11:57] kaushik-rishi commented on #15
The super set issue should solve this issue as well.
Please look at Issue #29

[2021-03-11 11:57] #15 closed

[2021-03-11 11:59] kaushik-rishi commented on #16
@Yash1256 Make a branch and start working on it.
If you think that it would be better to work on this issue in the later stages of the project, This issue will be closed and will be reopened again.

[2021-03-11 13:18] Shubham-Kumar-2000 commented on #29
Sure

On Thu, 11 Mar, 2021, 5:27 pm Rishi, ***@***.***> wrote:

[2021-03-11 21:45] learneradarsh commented on #25
Assigned to you @GuptaTanisha

[2021-03-11 22:25] learneradarsh opened #30 "Add Talisman"
https://thoughtworks.github.io/talisman/

[2021-03-12 06:08] kvv1618 commented on #4
I'm interested in this issue. Can you assign this to me under GSSOC'21?

[2021-03-12 08:49] rk05-lenavo commented on #25
I'm a GSSOC'21 participant kindly assign me this issue under GSSOC'21. I would love to work in this.

[2021-03-12 09:16] #5 closed

[2021-03-12 09:16] kaushik-rishi commented on #5
@Shubham-Kumar-2000 Completed. PR #Merged python support added

[2021-03-12 11:37] #30 closed

[2021-03-12 12:30] kaushik-rishi opened #33 "[Issue#] [Feature Update : Frontend] Add the configuration files frontend and connect it to the backend."
Because:
- We hard coded the values of programming language and template path till commit #57
- Develop a backend and a single frontend `ejs` file / `handlebars` anything of that case to handle the user configuration
- This should launch a server and create a configuration file based on it
- The frontend is just a minimal HTML Form with a bunch of attributes that will be added incrementally

This

[2021-03-12 12:34] learneradarsh commented on #25
hi, @rk05-lenavo  could you please pair with @GuptaTanisha because I think she has started working on it else you can pick it up accordingly I will assign you.

[2021-03-12 12:34] kaushik-rishi opened #34 "[Issue#34] [Feature Update : Backend] Handle the route creating the configuration file"
Because:

- We hard coded the values of programming language and template path till commit #57
- Develop a backend and a single frontend ejs file / handlebars anything of that case to handle the user configuration
- This should launch a server and create a configuration file based on it
- The frontend is just a minimal HTML Form with a bunch of attributes that will be added incrementally

This iss

[2021-03-12 12:38] rk05-lenavo commented on #25
@learneradarsh  could you please assign me I want to `work on it by my own.

[2021-03-12 12:43] learneradarsh commented on #26
Done

[2021-03-12 12:43] #26 closed

[2021-03-12 13:03] GuptaTanisha commented on #25
@learneradarsh Sure sir.

[2021-03-12 13:45] Shubham-Kumar-2000 commented on #6
@kaushik-rishi  can you assign me this.

[2021-03-12 14:15] rohank2502 opened #37 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 14:15] rohank2502 opened #38 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:26] kaushik-rishi commented on #38
@rohank2502 This is assigned to you. Go ahead.

[2021-03-12 14:27] kaushik-rishi commented on #6
@Shubham-Kumar-2000 Go ahead.

[2021-03-12 14:29] kaushik-rishi commented on #37
@rohank2502 Start working !
Join the discord server for working on more harder issues and seeking help

[2021-03-12 14:30] rohank2502 commented on #38
Thanks !!

[2021-03-12 14:30] rohank2502 commented on #37
Ok Thank you !!

[2021-03-12 15:06] rohank2502 commented on #37
Thanks !!

On Fri, Mar 12, 2021 at 7:59 PM Rishi ***@***.***> wrote:

[2021-03-13 10:09] Shubham-Kumar-2000 opened #41 "Embed .config.json for every problem folder"

[2021-03-13 13:29] nlok5923 commented on #33
@kaushik-rishi i would like to work on this issue but please can u elaborate this issue a bit more.

[2021-03-13 14:00] Shubham-Kumar-2000 opened #43 "Execute Server js on CLI command rcp"
@kaushik-rishi
@learneradarsh

Can you assign me this under gssoc'21?

[2021-03-13 14:28] #38 closed

[2021-03-13 15:42] kaushik-rishi commented on #33
@nlok5923 Its actually a bit complicated to explain in the comments section. Kindly join the discord server with the link given in the Readme we can have a talk about the issue

[2021-03-13 17:27] rohank2502 commented on #37
Which tech stack will you like to be added ?

[2021-03-14 05:33] kaushik-rishi commented on #37
Our tech stack is
- Vanilla node js [No frameworks like express js]

That's it.

[2021-03-14 05:35] kaushik-rishi commented on #6
Done ! PR #40 @Shubham-Kumar-2000 Best work

[2021-03-14 05:35] #6 closed

[2021-03-14 05:39] kaushik-rishi opened #45 "[Issue #45] Implement the configuration controllers"
Because:
- we need stable controllers either for working with the global configuration file or to create a back end going in future.

[2021-03-14 05:40] kaushik-rishi commented on #45
I'll be working on this issue. I have given myself a deadline of **today** to complete this issue.
If this is not implemented by today. **Contributors are welcome.**

[2021-03-14 05:41] kaushik-rishi commented on #45
I'll be working on this issue. I have given myself a deadline of **today** to complete this issue.
If this is not implemented by today. **Contributors are welcome.**

[2021-03-14 05:42] kaushik-rishi commented on #45
TODO : Write tests by tomorrow.
Please mentor me on this issue. @learneradarsh

[2021-03-14 08:29] learneradarsh commented on #45
Use Jest, it will be good.

[2021-03-14 08:51] learneradarsh opened #48 "Add Project Kanban"
Why:
- This will help us to plan project stories in a better way.
- People will get a better idea about the status of their PRs.

[2021-03-14 08:54] learneradarsh commented on #48
Here is the link for the same.
https://github.com/kaushik-rishi/rocketcp/projects/1

[2021-03-14 08:54] #48 closed

[2021-03-14 11:24] subhangi2731 commented on #34
can you please assign this issue to me?

[2021-03-14 14:42] kaushik-rishi opened #50 "Change executor.js to take the details from config file to taking the details from the problem directory itself."
Because:
- Problem directory can have custom test cases by the user.

[2021-03-14 14:42] kaushik-rishi commented on #50
I'm working on this.

[2021-03-14 15:12] #37 closed

[2021-03-14 16:09] #50 closed

[2021-03-14 17:02] Shubham-Kumar-2000 opened #52 "Cpp Template"
Add default template for cpp.
@kaushik-rishi
@learneradarsh

can you assign me this under GSSoC'21.

[2021-03-14 17:03] kaushik-rishi commented on #52
Assigned! @Shubham-Kumar-2000

[2021-03-15 03:28] #41 closed

[2021-03-15 04:25] kaushik-rishi commented on #34
Did you understand the issue ? @subhangi2731
If yes could you just clarify it so that there would be no feature clashes.
If no then you can join the discord server of the project, I and mentors will guide you for working on this issue

[2021-03-15 14:25] Shubham-Kumar-2000 commented on #45
@kaushik-rishi can you assign me this?

[2021-03-15 16:13] kaushik-rishi commented on #45
Sure @Shubham-Kumar-2000

[2021-03-15 16:22] #17 closed

[2021-03-15 16:24] #52 closed

[2021-03-15 16:24] #43 closed

[2021-03-16 05:25] aravindchalla opened #54 "Compute the difference using a better difference algorithm"
I would like you to work on this issue @kaushik-rishi

[2021-03-16 06:02] kaushik-rishi commented on #54
Yeah ! Sure will be up with it in an hour.

[2021-03-16 07:59] Yash1256 opened #55 "Completition of rcp command functionality"
As the rcp command is made using Node CLI I would like to add more features to it as
- `rcp check`
- `rcp parse`
- `rcp config`
So that the user may have better experience of using our parser through command line.
@kaushik-rishi can u Assign this Issue to me ?

[2021-03-16 09:01] Aryamanz29 opened #56 "[Need] Issue and PR template"
Currently, there is no issue and  PR template in this repo

[2021-03-16 09:02] Aryamanz29 commented on #56
I would like to work on this issue, Please add labels and Kindly assign it to me

[2021-03-16 11:00] kaushik-rishi commented on #55
@Yash1256 Please work on the rcp config command. The rcp parse and rcp test have been implemented to an extent. We can work on this together.

[2021-03-16 14:05] vivekascoder opened #57 "Discord Link is broken."
The discord link is not working.

[2021-03-16 15:08] #57 closed

[2021-03-16 15:13] kaushik-rishi commented on #56
@Aryamanz29 I guess there is a template but make it such that it shows on the issues page.

[2021-03-16 15:14] kaushik-rishi commented on #54
I'm working on this on the `refactor-major` branch.
Working update:
- Figured out an npm package to calculate better diff.
- Will embed it into the project

[2021-03-16 19:35] aravindchalla commented on #54
Thanks for the update Rishi. I would love to help you with anything if needed.

[2021-03-16 19:51] Aryamanz29 commented on #56
Kindly review my PR @kaushik-rishi

[2021-03-17 03:03] #56 closed

[2021-03-17 03:08] kaushik-rishi opened #59 "[Basic Styling] Add a command line spinner to the log message listening to the server"
### **Feature request**:
In the server.js we are just printing `Listening to post requests ..` on starting the server. We expect it to print a command line spinner and the the text `Server listening ...`

### **Describe the solution you'd like**:
[npm ora](https://www.npmjs.com/package/ora)
- you could use this package to create the spinner

### **Describe alternatives you've considered**:
[anothe

[2021-03-17 03:11] #16 closed

[2021-03-17 03:12] kaushik-rishi commented on #4
@kvv1618 Go ahead,

[2021-03-17 03:12] kaushik-rishi commented on #33
@nlok5923 You there ?

[2021-03-17 03:13] kaushik-rishi commented on #34
@subhangi2731 Would you still like to work on this issue ?

[2021-03-17 03:27] #25 closed

[2021-03-17 03:59] Shubham-Kumar-2000 commented on #59
Would you like to assign me this??

[2021-03-17 04:00] kaushik-rishi commented on #59
Sure @Shubham-Kumar-2000

[2021-03-19 16:51] Shubham-Kumar-2000 opened #61 "Multiple Ports for Server"
### **Feature request**:
Give option to user to choose some different port if the pre defined port is busy.

### **Is your feature request related to a problem? Please describe. (optional)**:
If I have another application running on port 10045 then our server fails.

### **Describe the solution you'd like**:
If the default port is busy we will give him option to change the port.
And ask if he want

[2021-03-19 18:16] Shubham-Kumar-2000 opened #62 "ESlint"
### **Describe the bug:**
While working on the code I saw some unused functions , useless shebang on each file, etc.
Thus added eslint to avoid these silly mistakes
### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to any file and you will know

### **Expected behavior:**
NA

### **Screenshots:**
NA

### **Additional context:**
Advantages of Using ESLint

- Toggle Any Rule. ESLint does

[2021-03-20 08:29] #59 closed

[2021-03-20 15:57] kaushik-rishi commented on #62
- Advantage over prettier as a pre-commit hook:
        - Getting the code suggestions while coding live
        - More flexibility while formatting

[2021-03-20 16:00] kaushik-rishi commented on #61
- Assigned this issue to you @Shubham-Kumar-2000
[Use this as a reference](https://github.com/jmerle/competitive-companion/blob/master/src/hosts/hosts.ts)

[2021-03-20 16:08] khareyash05 commented on #26
@learneradarsh could you pls add level label to the same

[2021-03-21 09:19] #62 closed

[2021-03-22 14:08] #61 closed

[2021-03-22 18:23] Kriti-bit commented on #34
I am a participant in GSSOC'21. I would like to work on this, please share some more details regarding this issue.

[2021-03-22 20:46] varshith-k opened #65 "Adding Discord bot to the GSSOC Rocket-CP Channel"
### **Feature request**:

Adding Discord bot to the GSSOC Rocket-CP Channel that sends a message whenever a pull request is merged in the rocketcp repo.

### **Describe the solution you'd like**:

A Bot code.

### **Describe alternatives you've considered**:

Making the BOT send a message for issues too.

### **Describe how this feature will be useful to our readers**:

 It can help the users know

[2021-03-23 07:33] kaushik-rishi commented on #65
Go ahead ! @varshith-k

[2021-03-23 07:33] varshith-k commented on #65
Thanks @kaushik-rishi !

[2021-03-25 15:24] techpkd123 commented on #54
Can i also work upon this issue?

[2021-03-25 19:28] satyampandeygit commented on #33
@kaushik-rishi I would like to work on this issue, have messaged you on discord group have a look. Please give suggestions on how I should proceed. Thanks

[2021-03-26 01:41] kaushik-rishi commented on #33
@satyampandeygit we will have a talk over there

[2021-03-27 07:40] Anurag-0-1-A commented on #65
@varshith-k , your discord server link is invalid..

[2021-03-27 08:30] kaushik-rishi commented on #54
Contact me on the discord server.
Link in the readme. @techpkd123

[2021-03-27 09:57] #54 closed

[2021-03-28 17:26] aditi1403 opened #70 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #69.

[2021-03-28 18:53] Shubham-Kumar-2000 commented on #34
@kaushik-rishi  can you assign me this under gssoc 21?

[2021-03-28 19:01] Shubham-Kumar-2000 opened #72 "Wrong default mode on for rktcp command"
### **Describe the bug:**

When we just run rktcp it should run default server to listen but the default mode mentioned is wrong.

### **To Reproduce:**

Steps to reproduce the behavior:

1. Run 'rktcp'
2. See an error that the script terminates

### **Expected behavior:**

to run the default server.

[2021-03-28 19:06] Shubham-Kumar-2000 commented on #72
PR raised @kaushik-rishi

[2021-04-03 12:00] #72 closed

[2021-04-03 12:24] kaushik-rishi commented on #34
@Shubham-Kumar-2000 Go ahead.

[2021-04-11 07:44] Shubham-Kumar-2000 opened #74 "Multiple package.json"
### **Describe the bug:**

There are two package.json and package-lock.json in the project.

### **To Reproduce:**

Steps to reproduce the behavior:

1. Go to src/configuration folder

### **Expected behavior:**

Only package.json for the project.

@kaushik-rishi  can you assign me this

[2021-04-11 08:11] Shubham-Kumar-2000 opened #76 "Freeport checking"
### **Describe the bug:**

Configuration server starts without prior freeport checking thus crashes when port 8080 is busy.

### **To Reproduce:**

Steps to reproduce the behavior:

1. Try to launch 2 instances of the configuration server.

### **Expected behavior:**

First check for the free ports using freeports utils file then accordingly start the server.

@kaushik-rishi  can you assign me thi

[2021-04-11 08:48] Shubham-Kumar-2000 opened #78 "Rktcp init"
### **Feature request**:

Configuration server should run on rktcp init.

### **Is your feature request related to a problem? Please describe. (optional)**:

Configuration server doesn't start on rktcp init.

### **Describe the solution you'd like**:

Import server in the main thread if init is passed as mode.

### **Describe how this feature will be useful to our readers**:

It will make easy for

[2021-04-11 09:04] Shubham-Kumar-2000 opened #80 "Express Views Not Set"
### **Describe the bug:**

Express views not setup thus crashes the server when it started from any other directory.

### **To Reproduce:**

Steps to reproduce the behavior:

1. Start the configuration server from your home directory using relative path
2. Go to "http://localhost:1327/"
3. See an error

### **Expected behavior:**

The views should me configured correctly despite being launched fro

[2021-04-11 09:49] Shubham-Kumar-2000 opened #82 "Automatically open the home page"
### **Feature request**:

When rktcp init is executed automatically open homepage in the default browser.

### **Is your feature request related to a problem? Please describe. (optional)**:

User needs to manually open the home page.

### **Describe the solution you'd like**:

Use the npm open module to automatically open it in default browser

@kaushik-rishi  Please assign me this under gssoc 21

[2021-04-11 15:00] #74 closed

[2021-04-11 15:00] #76 closed

[2021-04-11 15:00] #78 closed

[2021-04-11 15:01] #80 closed

[2021-04-11 15:01] #82 closed

[2021-04-12 01:52] Dhriti-Roy commented on #29
@kaushik-rishi I am a GSSoC21 participant , I would like to help in this issue.

[2021-04-12 15:28] Shubham-Kumar-2000 opened #84 "Routes Arrangements"
### **Describe the bug:**

Routes should be in a different file.

### **To Reproduce:**

Steps to reproduce the behavior:

1. All Routes are written in file src/configuration/server.js

### **Expected behavior:**

Routes Should be in a different file.

@kaushik-rishi  Can you assign me this under gssoc 21

[2021-04-12 16:00] Shubham-Kumar-2000 opened #86 "Body parser"
### **Describe the bug:**

Body parser absent in express configuration server

### **To Reproduce:**

Steps to reproduce the behavior:

1. Go to src/configuration/server.js

### **Expected behavior:**

Body parser should be there to parse the incoming body.

@kaushik-rishi  Please assign me this

[2021-04-12 17:36] Shubham-Kumar-2000 opened #89 "Load Config"
### **Feature request**:

To load the config and store it in memory

### **Describe the solution you'd like**:

In app.js require a file to load a config related data.

### **Describe how this feature will be useful to our readers**:

This will help them to use their boiler plate.

@kaushik-rishi  please assign me this.

[2021-04-12 18:48] Shubham-Kumar-2000 opened #91 "Default Config"
### **Feature request**:

Setup a default config if the config file is absent or corrupt.

### **Is your feature request related to a problem? Please describe. (optional)**:

When the new user install it the config file is absent thus may crash other functionality.

### **Describe the solution you'd like**:

In loadconfig file if the global.config is null then load the default config.

### **Descr

[2021-04-13 03:20] kaushik-rishi commented on #84
@Shubham-Kumar-2000 Assigned. !

[2021-04-13 03:20] #84 closed

[2021-04-13 03:21] kaushik-rishi commented on #86
@Shubham-Kumar-2000 Assigned. !

[2021-04-13 03:22] #86 closed

[2021-04-13 03:22] kaushik-rishi commented on #89
Assigned.

[2021-04-13 03:23] kaushik-rishi commented on #89
@Shubham-Kumar-2000 Assigned. !

[2021-04-13 03:23] #89 closed

[2021-04-13 03:23] #34 closed

[2021-04-13 03:23] kaushik-rishi commented on #91
@Shubham-Kumar-2000 Assigned

[2021-04-13 03:24] #91 closed

[2021-04-13 03:25] #70 closed

[2021-04-13 09:34] Shubham-Kumar-2000 opened #93 "CodeLib"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

Having a codeLib.json having all lang related details such as commands, templates etc.

# Current Behavior:

All these things are distributed in config, comma

[2021-04-13 10:17] Shubham-Kumar-2000 opened #95 "Dynamic default config"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

Load dynamic default config based on code library.

# Current Behavior:

Default Config works parallelly without any dependency on code library.

# Solution:

[2021-04-13 14:47] Shubham-Kumar-2000 opened #97 "Add Customizable Filenames in codelib"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

Users should be able to change the file names for each lang.

# Current Behavior:

It is hard coded to Main.ext

# Solution:

Include this in CodeLib.

@kaush

[2021-04-13 14:51] Shubham-Kumar-2000 opened #99 "Engine not mentioned"
### **Describe the bug:**

Engine is not mentioned in package.json

### **Expected behavior:**

Package.json should have a valid nodeJs LTS engines version which supports the code.
 @kaushik-rishi  please assign me this.

[2021-04-13 15:26] Shubham-Kumar-2000 opened #101 "Root Dir Check"
### **Describe the bug:**

Its not checked that if the root dir exist or not thus may cause a crash.

### **Expected behavior:**

To check whether the root dir exist or not. If not then create one.
@kaushik-rishi  please assign me this

[2021-04-14 04:32] #93 closed

[2021-04-14 04:32] #95 closed

[2021-04-14 04:32] #97 closed

[2021-04-14 04:32] #99 closed

[2021-04-14 04:32] #101 closed

[2021-04-14 08:33] Shubham-Kumar-2000 opened #103 "Validator"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

There should be a validating schema to validate the config.

# Current Behavior:

No Schema Available

# Solution:

To make a validator with a function to val

[2021-04-14 08:49] Shubham-Kumar-2000 opened #105 "Implement the validator in loadconfig"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

-   [ ] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

To implement the validator in loadconfig to validate

[2021-04-14 09:23] Shubham-Kumar-2000 opened #107 "Implement validator in Config Route"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

Incoming body of the configuration route should be validated before saving.

# Current Behavior:

NO such mechanism

@kaushik-rishi  please assign me this

[2021-04-14 09:28] #103 closed

[2021-04-14 09:28] #105 closed

[2021-04-14 09:28] #107 closed

[2021-04-14 10:40] learneradarsh commented on #65
Hi @varshith-k ,
Have you raised PR to rectify discord link in README.md?

[2021-04-14 10:43] learneradarsh opened #109 "Discord Issue is invalid mentioned in README.md file"
### **Describe the bug:**

Discord Issue is invalid mentioned in README.md file

### **To Reproduce:**

Steps to reproduce the behavior:

1. Go to https://github.com/kaushik-rishi/rocketcp
2. Click on 'Here is our discord server link - https://discord.gg/axfEwf6K' mentioned in README.md
3. It will show an invalid link.

### **Expected behavior:**

A link should redirect to our active discord group

[2021-04-14 15:10] Shubham-Kumar-2000 opened #110 "Route to get template"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

A route to get template from file system.

# Current Behavior:

No route to get template from file system.

@kaushik-rishi

[2021-04-14 15:15] Shubham-Kumar-2000 opened #112 "Rktcp"
### **Describe the bug:**

A lot  confusion between commands rcp, rkt, and rktcp.

### **To Reproduce:**

Steps to reproduce the behavior:

1. Some where rcp is mentioned .
2. Some where rkt is mentioned .
3. Some where rktcp is mentioned .

### **Expected behavior:**

Rktcp should be used.

@kaushik-rishi  please assign me this

[2021-04-14 15:22] Shubham-Kumar-2000 opened #114 "Duplicate Executor"
### **Describe the bug:**
Two executor.js exist

### **To Reproduce:**

Steps to reproduce the behavior:

1. Go to src/executor.js
2. Go to src/executor/index.js

### **Expected behavior:**

src/executor.js should be removed

@kaushik-rishi

[2021-04-15 04:43] #110 closed

[2021-04-15 04:43] #112 closed

[2021-04-15 04:43] #114 closed

[2021-04-15 08:37] Shubham-Kumar-2000 opened #116 "Implement global config in server.js"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

Global.config to be used in server.js for creating files.

# Current Behavior:

No such mechanism everything is hard coded

# Solution:

Implementation of glo

[2021-04-15 09:32] Shubham-Kumar-2000 opened #118 "Override from arguments"
### **Feature request**:

OverRide the default language and directory for one time from arguments

### **Describe the solution you'd like**:

Override global config from arg parser

### **Describe how this feature will be useful to our readers**:

It will give them more flexibility and seam less experience.

@kaushik-rishi

[2021-04-15 09:38] Shubham-Kumar-2000 opened #120 "Store Parsed arguments"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

Parser arguments should be stored in global for other files to preform operations according to it.

# Current Behavior:

Not stored

# Solution:

Store it in

[2021-04-15 09:45] Shubham-Kumar-2000 opened #121 "Store under contest dir"
### **Describe the bug:**

Problems are not stored contest wise thus after adding 2-3 contest it becomes very difficult to know which question belongs to which contest.

### **To Reproduce:**

Steps to reproduce the behavior:

1. Add 2-3 contest from same platform

### **Expected behavior:**

to be stored like platform/contest/problem

@kaushik-rishi

[2021-04-15 10:01] Shubham-Kumar-2000 opened #124 "Bug Comments"
### **Describe the bug:**

Every language has a different way of defining comments thus using /* universally creates error in some languages.

### **To Reproduce:**

Steps to reproduce the behavior:

1. Run the app in python

### **Expected behavior:**

Comments should use # in python

@kaushik-rishi  Please assign me this.

[2021-04-19 10:10] innovation-platform commented on #109
I would like to work on this issue under GSSoC'21.

[2021-04-19 10:14] innovation-platform commented on #109
Could you please give the link of the active discord group.

[2021-04-24 14:32] learneradarsh commented on #124
Assigned @Shubham-Kumar-2000

[2021-04-24 15:28] learneradarsh commented on #109
Try this - https://discord.com/channels/818724344359288842/818724344359288845

[2021-04-25 01:44] innovation-platform commented on #109
Ok. Thank you.

On Sat, 24 Apr, 2021, 8:58 PM Adarsh Learner, ***@***.***>
wrote:

[2021-04-25 08:28] learneradarsh commented on #65
Hey @Anurag-0-1-A ,
Try with below one:
https://discord.com/channels/818724344359288842/818724344359288845

[2021-04-25 08:29] learneradarsh commented on #65
Hey @varshith-k ,
Any update on this?

[2021-04-25 15:51] subhangi2731 commented on #4
can you assign me. I will make a pr by tomorrow

[2021-04-25 16:11] subhangi2731 commented on #45
can you assign me this?

[2021-04-25 16:14] subhangi2731 commented on #29
can you assign me this I will make a pr by tomorrow

[2021-04-25 16:15] subhangi2731 commented on #33
can you assign me this

[2021-04-29 12:22] KajalSinghBAGHEL opened #128 "Update README. md"
Remove grammatical mistakes

[2021-05-04 15:05] anirudhsai20 opened #129 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-05-04 15:06] anirudhsai20 commented on #129
Hi! Please assign this issue to me under GSSOC.

[2021-05-11 16:42] Shubham-Kumar-2000 opened #130 "Implement config in execute"
# Prerequisites:

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

Config should be implemented in execute

[2021-05-11 16:46] Shubham-Kumar-2000 opened #132 "getDifference"
### **Describe the bug:**

its not exported but it is imported and used in executor/index

### **To Reproduce:**

Steps to reproduce the behavior:

1. Go to src/executor/index

### **Expected behavior:**

It should be exported

[2021-05-11 16:51] Shubham-Kumar-2000 opened #134 "Implement watch"
### **Feature request**:

Implement watch such that the test should restart as soon as there are changes in the source code.

### **Is your feature request related to a problem? Please describe. (optional)**:

After every trivial change i need to re start the test processs

### **Describe the solution you'd like**:

Implement this using chokidar

[2021-05-11 16:55] Shubham-Kumar-2000 opened #136 "Refactor of execute"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

The executor is getiing very complicated and should be modulated properly

# Current Behavior:
no such modulation found

[2021-05-11 16:58] Shubham-Kumar-2000 opened #137 "Rm commands"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x] I checked to make sure that this issue has not already been filed.

# Expected Behavior:

The commands.json is no more required as it is already being used inside global.config so it should be removed

[2021-05-11 20:28] #132 closed, assigned to nobody

[2021-05-24 15:27] KajalSinghBAGHEL commented on #128
I am a GSSOC participant. Please check my pull request

[2021-05-26 03:34] kaushik-rishi commented on #128
@learneradarsh Please look into it.

[2021-05-28 14:35] #124 closed

[2021-05-28 14:35] #121 closed

[2021-05-28 14:35] #120 closed

[2021-05-28 14:35] #118 closed

[2021-05-28 14:35] #116 closed

[2021-05-28 14:35] #45 closed

[2021-05-30 18:01] varshith-k opened #186 "Documentaion"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

-   [x ] I checked to make sure that this issue has not already been filed.

-   [ x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

Readme Typo

[2021-05-30 18:03] #186 closed